body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border: 3px solid #252422;
   border-radius: 50% 20% / 10% 40%;
   transition: transform .7s ease-in-out;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #FFFCF2;
    color: #2b2839;
    border: 6px solid #EB5E28;
    border-radius: 120px / 100px 10px;
    box-shadow: 5px 5px 10px 1px #CCC5B9;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

.avatar:hover {
    width: 200px;
    transform: rotate(360deg);
}


/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

